body {
  font-family: Google Sans, Roboto, arial, sans-serif;
}
#wrapper {
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 15px;
}
#ciudad {
  text-align: center;
  color: #202124;
  font-size: 30px;

  font-weight: 400;
  line-height: 26px;
}
#date {
  text-align: center;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}
img {
  display: inline-block;
  height: auto;
  margin: auto;
  width: 100px;
}
#current-temperature {
  text-align: center;
  color: #202124;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
#list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  color: #202124;
  font-size: 10px;
  line-height: 19px;
}
form {
  margin: 15px 20px;
}
.row .col-2 {
  text-align: center;
}

.circular-border {
  border-radius: 60%;
  color: #fe7e6d;
  padding-top: 15px;
  padding-bottom: 15px;
}
